h1,h2,h3 {
  font-family: 'Yeseva One', cursive;
  
}

.kannada {
  font-weight: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

tr {
  background-color: rgb(239, 238, 238);
}

td {
  padding: 10px;
}


th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}


input[type=submit]{
  background-color: rgb(255, 102, 99);;
  border: none;
  padding: 10px 30px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  margin: 20px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: rgb(237, 57, 54);;
  border: none;
  padding: 10px 30px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
}

.Event {
  width: 300px;
  height:350px;
}

.Event h6,h5 {
  line-height: 0px;
  align-content: center;
}

tr {
  padding: 30px;
}

.red {
  background:rgb(255, 102, 99);
}

.orange {
  background:rgb(254, 177, 68);
}

.yellow {
  background:rgb(253, 253, 151);
}

.green {
  background:rgb(158, 224, 158);
}

.blue {
  background:rgb(158, 193, 207);
}

.purple {
  background:rgb(204, 153, 201);
}